.arrow {
  position: absolute;
  z-index: 10;
  display: none;
  padding: 10px;
  top: 50%;
  left: 6%;
  transform: translate(-50%, -55%);
  font-size: 20px;
  color: #949494;
  background: #fff;
  border: none;
  transition: 0.2s color;

  @media (hover: hover) {
    &:hover,
    &:active {
      color: #484848;
    }
  }

  &.visible {
    display: block;
    cursor: pointer;
  }

  @media (max-width: 520px) {
    left: 9%;
    transform: translate(-50%, -50%);
  }
}

.input {
  position: relative;
  padding: 16px 16px 16px 47px;
  width: 100%;
  max-width: 500px;
  height: 70px;
  border: 1px solid #a6a6a6;
  box-sizing: border-box;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
  font-size: 24px;
  transition: box-shadow 0.3s ease;

  &:focus {
    outline: 1px solid #eea0a0e1;
    border-color: #eea0a0e1;
    box-shadow: 0 0 10px #eea0a0e1;
  }

  @media (hover: hover) {
    border: 1px solid #eea0a0e1;
    cursor: pointer;
  }

  ::placeholder {
    font-size: 24px;
    line-height: 1.4em;
    font-style: italic;
    color: #b1b0b0;
  }

  @media (max-width: 520px) {
    max-width: 100%;
    height: 55px;
    font-size: 16px;

    ::placeholder {
      font-size: 16px;
      line-height: normal;
    }
  }
}
